# dependencies
/node_modules
/admin-webapp/node_modules

# production
/admin-webapp/public/index.js

# misc
.DS_Store
/admin-webapp/.cache

# debug
yarn-debug.log*
yarn-error.log*

# SQLite bases
/*.db
